@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  .socrollabar::-webkit-scrollbar {
    width: 7px;
  }

  /* Track */
  .socrollabar::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .socrollabar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  .socrollabar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  
  /*
  no scrolls
  */

  .socrollabar-small::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  .socrollabar-small::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  .socrollabar-small::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
  }

  /* Handle on hover */
  .socrollabar-small::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
 
  
  .scroll_content {
    overflow-y: scroll;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: none;
}
.bg-green {
  background-color: green !important;
}
.bg-blue {
  background-color: blue !important;
}
.bg-yellow {
  background-color: yellow !important;
}
.bg-pink {
  background-color: pink !important;
}

.bg-magenta {
  background-color: magenta !important;
}
.bg-cyan {
  background-color: cyan !important;
}
.bg-black {
  background-color: black !important;
}
.bg-red {
  background-color: red !important;
}

.color-slider .slick-slide div {
  display: flex !important;
  width: 18px !important;
  height: 18px !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 9999px !important;
  text-align: center !important;
  opacity: 0.8 !important;
  outline: 1.2px solid #eae8e8;
  outline-offset: 1.9px;
}
.color-slider .slick-slide div {
  margin: 0 !important;
}



  .color-slider .slick-list {
    margin-left: 0px !important;
    margin-right: 120px !important;
  }










.you-may-also-like-color-slider .slick-slide div {
  display: flex !important;
  width: 18px !important;
  height: 18px !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 9999px !important;
  text-align: center !important;
  border: 1.6px solid rgb(46, 3, 3);
  opacity: 0.8 !important;
}


}
